

<div class="mu"><h2>Chat room</h2></div>
<div id= "message">
  <%= render @messages.order(created_at: :asc) %>
</div>
<div class="duoi">
	
	<div id="submit_chat">
<form>
	<label> Enter to send </label>
	<input type="text" name="content" data-behavior="room_speaker">
</form>
</div>

</div>






