/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";

body {
  background-color: #DAE9E4;
  font-family: 'Helvetica', sans-serif;
}
.nav_top {
	padding: 40px;
	background-color: #3C2E3D;
	
}

#message {
  font: 16px;
  width: 500px;
  height: 500px;
  overflow-y: hidden;
  margin: 0 auto;
  background-color: transparent;
  word-break: break-all;
}
#message:hover {
	overflow: auto;
}
#submit_chat {
  
	padding-left: 10%;
}
.mu {
	padding: 3px;
	width: 500px;
	background-color: #8BCBC8;
	margin: 0 auto;
	border-radius: 25px 25px 0px 5px;
}
div.all_messages {
	width: 500px;
  height: 360px;
  overflow-y:scroll ;
  margin: 0 auto;
background-color: transparent;
}
//div.all_messages:hover {
//	overflow: auto;
//}
.each_message {
  width: 500px;
  word-break:break-all;
  background-color: #fff;
  color: #3C2E3D;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px 5px 5px 5px;
  padding-left: 20px;
}
p.time {
  color: #FDAE84;
  font-size: 10px;
  margin-bottom: 2px;
  margin-left: 300px;

}
.duoi {
	padding: 10px;
	width: 500px;
	background-color: #8BCBC8;
	margin: 0 auto;
	border-radius: 0px 0px 25px 25px;
	margin-bottom: 15px;
}


@media only screen and (max-width: 480px) {
    
    #message, .duoi, .mu {
    	width: 100%;
        
        }
    #message {
    	height: 300px;
    	overflow-y: scroll;

    }    
    .each_message {
    	width: 100%;
    	padding-left: 20px;
    	margin-bottom: 2px;
    }
    p.time {
    	display: none;
    }
    .duoi {
	padding: 5px;}

}

@media only screen 
and (max-width: 768px)
and (min-device-width: 480px) {
    
    #message, .duoi, .mu {
    	width: 100%;
        
        }
    #message {
    	height: 600px;
    	overflow-y: scroll;

    }    
    .each_message {
    	width: 100%;
    	padding-left: 20px;
    	margin-bottom: 2px;
    }
    p.time {
    	display: none;
    }
}


//#message::-webkit-scrollbar {
//    width: 1em;
//}
// 
//#message::-webkit-scrollbar-track {
//    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//}
// 
//#message::-webkit-scrollbar-thumb {
//  background-color: #ECC7C0;
//  outline: 1px solid #3C2E3D;
//}


#message::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #fff; //#DAE9E4
    //box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #ECC7C0;   --tao gờ
}

#message::-webkit-scrollbar-thumb {
    background: #4F324E;
    border: none;
    border-radius: 10px;
    border: solid 2px #8BCBC8;
    box-shadow: inset 0px 0px 3px #fff;
}

#message::-webkit-scrollbar-thumb:hover {
    background: #DAE9E4;
  //box-shadow: inset 0px 0px 3px #888;
}

//#message::-webkit-scrollbar-thumb:active {
//    background: #aaa;
//  box-shadow: inset 0px 0px 3px #7f7f7f;
//}
//
//#message::-webkit-scrollbar-button {
//    display: block;
//    height: 26px;
//}